body {
    background-color: hsl(233, 47%, 7%);
    margin: 0 auto;
}

    @import url('https://rsms.me/inter/inter.css');
    html { 
        font-family: 'Inter', sans-serif; 
    }
    @supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif; 
        }
    }

.container {
    margin: 0 auto;
    width: 90%;
}

.section__image{
    position: relative;
}

.section__image > img {
    border-radius: 5px 5px 0 0;
}

.section__image-fon {
    border-radius: 5px 5px 0 0;
    background: hsl(277, 64%, 61%);
    display:block;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE 5.5+*/
       -moz-opacity: 0.6; /* Mozilla 1.6 и ниже */
       -khtml-opacity: 0.6; /* Konqueror 3.1, Safari 1.1 */
        opacity: 0.6; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
    height: 100%;
	position:absolute;
	top:0px;
    width: 100%;
}

.information {
    background-color: hsl(244, 38%, 16%);
    position: relative;
    bottom: 0.16rem;
    border-radius:  0 0 5px 5px;
}

.section__title {
    color: white;
    padding-top: 1rem;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 900;
    width: 80%;
    text-align: center;
}

.section__title > span {
    color: hsl(277, 64%, 61%);
}

.section__subtitle {
    padding-top: 1rem;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__companies,
.section__templates {
    margin-top: 1.5rem;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

.number {
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
}

.section__queries {
    margin-top: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution { 
    color: white;
    margin-top: 0.7rem;
    font-size: 12px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

.about__me {
    margin-top: 0.3rem;
    padding-bottom: 1rem;
}

@media only screen and (min-width:1440px){
    body {
        overflow-x: hidden;
    }
    
    .container {
        padding: 6rem 7rem 2rem 7rem;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
        
    }

    .information {
        width: 40%;
    }

    .section__title {
        font-size: 3rem;
        font-weight: 900;
        
        
        /* justify-content: left; */
        left: 1rem;
        width: 90%;
    }

    .section__subtitle {
        top: 2rem;
        position: relative;
        font-size: 1.5rem;
       width: 90%;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        position: relative;
        text-align: left;
        margin-top: 2rem;
    }

    .statistics > div {
        padding: 1.5rem;
    }

    .section__companies,
    .section__templates,
    .section__queries {
        font-size: 1.5rem;
    }

    .number {
        font-size: 2rem;
        font-weight: bolder;
        text-align: left;
    }

    .attribution { 
        position: relative;
        bottom: 1rem;
        font-size: 1rem; text-align: center; 
    }
    .attribution a {
         color: hsl(228, 45%, 44%); 
    }
    
    .about__me {
        padding-bottom: 1rem;
    }
}
